.data-abstraction-container {
    background-color: #F3F6FA;
    max-height: 100vh;
    border-right: solid 1pt #D9E4EA;
    padding: 0em 2em 2em 3em;
    overflow: scroll;
    text-align: justify;
}

.separator {
    height: 1em;
    width: 100%;
    border-bottom: dashed 1pt #C5E5EF;
}

.checkbox {
    padding: 2em;
}

#glb_checkbox input[type=checkbox]:checked+label::before, .checkbox-inline input[type=checkbox]:checked+label::before {
    background: #009CBF
}

#nh_checkbox input[type=checkbox]:checked+label::before, .checkbox-inline input[type=checkbox]:checked+label::before {
    background: #60B515
}

#sh_checkbox input[type=checkbox]:checked+label::before, .checkbox-inline input[type=checkbox]:checked+label::before {
    background: #948981
}
